{% set assetPath = this.controller.assetPath ~ '/assets/' %}
        <!-- Start Footer -->
        <div class="spacing-30"></div>
        <div class="container zerogrid">
            <div id="footer-container" class="col-full">
                <div class="wrap-col">
                    <!-- Footer Copyright -->
                    <p>
                        &copy;2016 by LaradevVN<br />
                        Original template by Euclid<br />
                    </p>
                    <!-- End Footer Copyright -->
                    <!-- Footer Logo -->
                    <img src="{{ assetPath }}/images/logo.png" id="footer-logo" />
                    <!-- End Footer Logo -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </body>
</html>
