description = "Full page layout"

[staticMenu mainMenu]
code = "mainMenu"
==
{% partial '_header' %}
<!-- Start Main Container -->
<div class="container zerogrid">
    <div class="col-full page-conainer">
        <div class="wrap-col">
            <div class="post-margin">
                <h5 class="page-title">{{ this.page.title }}</h5>
                <!-- Start Entry -->
                <p>
                    {% page %}
                </p>
                <div class="symple-clear-floats"></div>
                <!-- End Entry -->
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- End Main Container -->
{% partial '_footer' %}
